version: "3.9"

services:
  proxy:
    image: nginx:latest
    container_name: proxy
    ports:
      - "8080:8080"
    volumes:
      # Mount your custom config over the default
      - ./proxy/app.conf:/etc/nginx/conf.d/app.conf
    depends_on:
      - web
      - back


  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: web
    ports:
      - "3000:80"

  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    container_name: back
    volumes:
      - ./back:/app
      - /etc/secure/keys:/etc/secure/keys:ro