version: "3.9"

services:
  proxy:
    image: nginx:latest
    container_name: forward-proxy
    ports:
      - "8080:8080"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - web
      - back

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: frontend

  back:
    build:
      context: ./back
      dockerfile: Dockerfile
    container_name: backend
    expose:
      - "8000"
    volumes:
      - ./back:/app
